body, html {
    padding: 0;
    margin: 0;
}
.titre {
    font-size: 4rem;
    text-align: center;
    color: #112c46;
    font-family: 'Judson', serif;
    padding-top: 7.9%;
    padding-bottom: 5%;
    background-color: #fbe6c2 !important;
}
.formulaire {
    background-color: #d0af84;
    height: 578px;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Cormorant Garamond', serif;
}
.champ {
    display: inline-flex;
    justify-content: center;
}
#valider {
    height: 3rem;
}
.titre1 {
    font-size: 4rem;
    text-align: center;
    color: #112c46;
    font-family: 'Judson', serif;
    padding-top: 2%;
    padding-bottom: 2%;
}